body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
    padding: 50px;
}
#login{
    margin: auto;
    max-width: 850px;
}
#login .img{
    text-align: center;
}
#login .img .text{
    margin: 35px;
}
#login button{
    float: right;
}

.star{
    color: rgb(255 224 0);
    border: none;
    background-color: transparent;
}

.top-bar {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.search-form {
    display: flex;
    margin-top: 30px;
}

.search-form button{
    margin-left: 10px;
}

#content{
    margin-top: 50px;
}

#content .col-item{
    margin-bottom: 25px;
}

#content .card{
    padding: 15px;
    height: 327px;
}

#content .card .card-title{
    width: 87%;
    margin-bottom: 15px;
}

#content .card .star{
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#content .card .region{
    margin-bottom: 0;
}

input{
    background-color: #f7f7f7;
}

input:focus{
    outline: none;
    box-shadow: none;
    border-color: #e8e8e8;
}

button:focus{
    box-shadow: none;
}

#search-list .list-item{
    display: flex;
    border: 1px solid rgb(241, 241, 241);
}
#search-list .list-item .star{
    font-size: 22px;
}
#search-list .list-item span{
    color: rgb(97, 97, 97);
    text-decoration: none;
    padding: 10px;
    border: none;
}
